output
gradle_build
bazel-bin
bazel-genfiles
bazel-out
bazel-perf-android-large
bazel-testlogs
.gradle
local.properties
.idea
*.iml
build
.DS_Store
.buckconfig.local
.okbuck
BUCK
.buckd
buck-out
gradle-user-home
